body{
    margin:0;
}
.portada{
text-align: center;
margin: 5vmax;
}

.portada p{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5vmax;
    margin-right: 5vmax;
}


.variations{
    text-align: center;
    margin: 5vmax;
}

.variations p{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5vmax;
    margin-right: 5vmax;
}